Nhiệm vụ 5 – Pivot Table + Stack/Unstack

In [1]:
#5.1 Pivot: Thời gian xử lý trung bình
  #đọc dữ liệu
import pandas as pd

df = pd.read_csv("../task04_merg e/full_feedback_merged.csv")

#theo department × category
pivot_time = pd.pivot_table(
    df,
    index='department',
    columns='category',
    values='resolution_hours',
    aggfunc='mean'
)

pivot_time

category,an ninh,an ninh,ha tang,ha tang,hạ tầng,moi truong,môi trường,thu tuc,thủ tục hành chính
department,,,,,,,,,
cong an,NaN,24.0,NaN,NaN,NaN,8.000000,8.000000,NaN,12.0
cong an,48.0,NaN,NaN,29.0,72.0,NaN,NaN,8.0,NaN
công an,NaN,38.0,NaN,NaN,8.0,NaN,NaN,NaN,4.0
phong tnmt,NaN,72.0,48.0,NaN,12.0,NaN,33.333333,38.0,NaN
phong tnmt,52.0,NaN,NaN,72.0,NaN,NaN,NaN,NaN,NaN
phòng tnmt,NaN,72.0,24.0,NaN,24.0,9.333333,40.000000,12.0,72.0
ubnd phuong,28.0,NaN,13.0,NaN,NaN,NaN,4.000000,NaN,8.0
ubnd phuong,NaN,14.0,NaN,24.0,NaN,8.000000,NaN,8.0,NaN
ubnd phường,NaN,NaN,8.0,NaN,72.0,72.000000,6.000000,NaN,NaN

In [2]:
# 5.2 Tạo pivot số lượng phản ánh theo area × category. 
pivot_count = pd.pivot_table(
    df,
    index='area',
    columns='category',
    values='feedback_id',
    aggfunc='count',
    fill_value=0
)

pivot_count

category,an ninh,an ninh,ha tang,ha tang,hạ tầng,moi truong,môi trường,thu tuc,thủ tục hành chính
area,,,,,,,,,
phuong a,1,1,0,2,1,1,4,2,1
phường a,0,1,1,1,0,0,1,0,0
quan 1,5,1,5,2,3,3,4,0,2
quận 1,1,1,2,2,3,2,2,1,2
xa b,0,0,0,0,0,4,0,2,0
xa b,0,0,0,2,0,2,0,0,0
xã b,0,0,1,0,1,2,2,2,1

In [3]:
# 5.3 Thực hành MultiIndex – stack / unstack
#Stack (columns → index)
stacked_time = pivot_time.stack()
stacked_time.head()

department  category
cong  an    an ninh               24.0
            moi truong             8.0
            môi trường             8.0
            thủ tục hành chính    12.0
cong an     an  ninh              48.0
dtype: float64

In [4]:
#Unstack (index → columns)
unstacked_time = stacked_time.unstack()
unstacked_time.head()

category,an ninh,an ninh,ha tang,ha tang,hạ tầng,moi truong,môi trường,thu tuc,thủ tục hành chính
department,,,,,,,,,
cong an,NaN,24.0,NaN,NaN,NaN,8.0,8.000000,NaN,12.0
cong an,48.0,NaN,NaN,29.0,72.0,NaN,NaN,8.0,NaN
công an,NaN,38.0,NaN,NaN,8.0,NaN,NaN,NaN,4.0
phong tnmt,NaN,72.0,48.0,NaN,12.0,NaN,33.333333,38.0,NaN
phong tnmt,52.0,NaN,NaN,72.0,NaN,NaN,NaN,NaN,NaN

In [5]:
#5.4 Tìm department × category có thời gian xử lý cao nhất
max_time = stacked_time.idxmax()
max_value = stacked_time.max()

max_time, max_value

(('cong an', 'hạ tầng'), np.float64(72.0))